* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 10fr;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1.25fr;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
}

.main-content {

}