* {
    margin: 0;
    padding: 0;
}

img {
    width: 10px;
}

/* Main layout of page  */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.right-side {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.left-side {
    background-color: lightseagreen;
}


/* SideBar */
.sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 25px;
}

.topBar {
    display: grid;
    grid-template-rows: 1fr 4fr;
    row-gap: 20px;
}

.title, 
  .menu .item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-content: center;
    gap: 10px;
  }

.title {
    font-size: 20px;
}

.title img {
    justify-self: end;
    width: 30px;
}

.menu {
    font-size: 20px;
}

.item {
    padding-bottom: 20px;
}

.item img {
    justify-self: end;
    width: 20px;
}








/* header */
.header {
    background-color: lightgray;
}






/* mainContent */
.mainContent {
    background-color: lightcoral;
}