* {
    margin: 0;
    padding: 0;
}

img {
    width: 10px;
}

/* Main layout of page  */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.right-side {
    display: grid;
    grid-template-rows: 1fr 5fr;

}

.left-side {
    background-color: #075985;
    color: #f0f9ff;
}

/* SideBar */
.sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 25px;
}

.topBar {
    display: grid;
    grid-template-rows: 1fr 4fr;
    row-gap: 20px;
}

.title, 
  .menu .item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-content: center;
    gap: 10px;
  }

.title {
    font-size: 20px;
}

.title img {
    justify-self: end;
    width: 30px;
}

.menu {
    font-size: 20px;
}

.item {
    padding-bottom: 20px;
}

.item img {
    justify-self: end;
    width: 20px;
}




/* header */
.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #f0f9ff;
}

.header, 
  .mainContent {
    padding-left: 30px;
  }

 /* Header TOP */
.top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
}

.search {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 7px;
}

.search img {
    width: 15px;
    align-self: center;
    justify-self: end;
}

.search input {
    width: 80%;
    height: 20px;
    align-self: center;
    border-radius: 40px;
    border: 1px black solid;
}

.notifications {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-content: center;
    justify-content: end;
    gap: 30px;
    padding-right: 50px;
}

.notifications img {
    width: 30px;
}

.notifications .bell {
    width: 20px;
}

.notifications img,
  .notifications h4 {
    align-self: center;
    justify-self: center;
  }


/* Header Bot */

.bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-right: 50px;
    padding-bottom: 10px;
}

.user {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.user img {
    width: 50px;
    align-self: center;
    padding-left: 5px;
}

.user-name {
    align-self: center;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.buttons button {
    height: 33px;
    width: 80px;
    border-radius: 40px;
    border: 1px black solid;
    background-color: #0284c7;
    justify-self: end;
    align-self: center;
}


/* mainContent */
.mainContent {
    background-color: #7dd3fc;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 25px;
    padding-bottom: 80px;
    padding-right: 30px;
}

.projects {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 15px;
}

#project-title, 
  .news-title {
    font-size: 20px;
}

.cards-section {
    display: grid;
    grid-template-columns: 3fr 3fr 10px;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
}

.cards {
    width: 80%;
    height: 80%;
    background-color: #f0f9ff;
    align-self: center;
    border-radius: 10px;
    padding: 20px;
}


.card1 {
    grid-area: 1 / 1 / 2 / 2;
}

.card2 {
    grid-area: 1 / 2 / 2 / 3;
}

.card3 {
    grid-area: 2 / 1 / 3 / 2;
}

.card4 {
    grid-area: 2 / 2 / 3 / 3;
}

.card5 {
    grid-area: 3 / 1 / 4 / 2;
}

.card6 {
    grid-area: 3 / 2 / 4 / 3;
}

/* Main Content // Right Side */

.news {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
}

.annoucenments,
  .trending {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.announcments-cards,
  .trending-cards {
    background-color: #f0f9ff;
    border-radius: 10px;
}

.announcments-cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}

.announcments-text p {
    font-size: 10px;
}

.announcments-text {
    padding: 20px 30px;
}


.trending-cards {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.trending-users img{
    width: 40px;
    padding-left: 20px;
}

.trending-users {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.user-card p {
    font-size: 12px;
}

.user-card h5 {
    font-size: 15px;
}